.App {
  text-align: center;
}

body {
  background-color: #004d40;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #4caf50;
  border-radius: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #00c853;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
}
