.App {
  text-align: center;
}

body {
  background-color: #004d40;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #4caf50;
  border-radius: 50%;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
